* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

@media (max-width: 360px) {
  html {
    background: linear-gradient(-45deg, #121e27, #121e27, #121e27, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    line-height: 1.75;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  body header {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr;
    color: #fff;
  }
  body header h1 {
    margin: 0px;
    justify-self: center;
    font-size: 24px;
    margin-top: 30px;
  }
  body header i {
    align-self: center;
    font-size: 24px;
    margin-right: 30px;
    margin-top: 30px;
  }
  body .main {
    color: #fff;
    margin: 0px 50px 100px 50px;
  }
  body .main h1 {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.1;
    padding-right: 60px;
  }
  body .main h1 div:nth-child(1),
  body .main h1 div:nth-child(2),
  body .main h1 div:nth-child(3) {
    margin-right: 10px;
  }
  body .main h1 .highlight {
    position: relative;
    z-index: 100;
  }
  body .main h1 .highlight div:nth-child(2) {
    position: absolute;
    height: 40%;
    width: 100%;
    bottom: 0px;
    z-index: -100;
    background: rgb(255, 113, 91);
    transform: translate(0.15rem);
  }
  body .main .contacts {
    display: flex;
    gap: 50px;
  }
  body .main .contacts .linkedin-icon,
  body .main .contacts .github-icon,
  body .main .contacts .mail-icon {
    fill: orangered;
    width: 24px;
    height: 24px;
  }
  body .main p.paragraph {
    font-weight: 300;
    font-size: 17px;
    line-height: 1.75;
  }
  body .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
  }
  body .skills div:nth-child(1) {
    margin-right: 10px;
  }
  body .skills h1 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
    align-self: start;
    font-weight: 400;
  }
  body .skills h1 .highlight {
    position: relative;
    z-index: 100;
  }
  body .skills h1 .highlight div:nth-child(2) {
    position: absolute;
    height: 30%;
    width: 100%;
    bottom: 8px;
    z-index: -100;
    background: rgb(255, 113, 91);
    transform: translate(0.15rem);
  }
  body .skills img {
    width: 50%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 20px;
  }
  body .skills ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
  body .skills ul li {
    list-style: none;
    color: white;
    background: rgb(18, 30, 39);
    padding: 0.25rem 0.7rem;
    margin: 0px 0.25rem 1rem 0px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
  }
  body .about {
    display: flex;
    flex-direction: column;
    background: white;
  }
  body .about h3 {
    margin-left: 50px;
    margin-right: 50px;
    font-weight: 900;
  }
  body .about p {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 1.2rem;
    font-weight: 300;
  }
  body .about a {
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    font-weight: bold;
    color: rgb(255, 113, 91);
  }
}/*# sourceMappingURL=main.mobile.css.map */